:root {
    --primary: #999;
    --secondary: #777;
    --active: #a4a;
    --path: #4a4;
}
/*body {*/
/*    background-color: var(--primary);*/
/*}*/
.cursor-pointer {
    cursor: pointer;
}
.graph {
    border-top: var(--primary) 1px solid;
}
.graph-body {
    border-top: var(--primary) 1px solid;
    border-bottom: var(--primary) 1px solid;
}
.node-row {
    justify-content: center;
}
.node {
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: var(--secondary);
    border: var(--primary) solid 1px;
}
.node-active {
    background-color: var(--active);
}
.node-path {
    background-color: var(--path);
}