:root {
    --primary: #999;
    --secondary: #777;
    --initiate-activation: #ddf;
    --active: #00539CFF;
    --initate-path: #d77;
    --path: #4a4;
    --initiate-wall: #555;
    --wall: #000;
}
/*body {*/
/*    background-color: var(--primary);*/
/*}*/
.cursor-pointer {
    cursor: pointer;
}
.graph {
    border-top: var(--primary) 1px solid;
}
.graph-body {
    border-top: var(--primary) 1px solid;
    border-bottom: var(--primary) 1px solid;
}
.node-row {
    justify-content: center;
}
.node {
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border: var(--primary) solid 1px;
}
.node-example {
    height: 20px;
    width: 20px;
}
.node-initiate-activation {
    background-color: var(--initiate-activation);
}
.node-active {
    background-color: var(--active);
}
.node-initiate-path {
    background-color: var(--initate-path);
}
.node-path {
    background-color: var(--path);
}
.node-initiate-wall {
    background-color: var(--initiate-wall);
}
.node-wall {
    background-color: var(--wall);
}