:root {
    --primary: #aaa;
    --secondary: #777;
    --initiate-activation: #ddf;
    --animate-activation: #5566ff;
    --active: #0053ACFF;
    --initate-path: #f77;
    --animate-path: #ca4;
    --path: #4a4;
    --initiate-wall: #555;
    --animate-wall: #ddd;
    --wall: #000;
}
/*body {*/
/*    background-color: var(--primary);*/
/*}*/
.cursor-pointer {
    cursor: pointer;
}
.fa-spinner {
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}
/*
App
*/
.navbar-brand{
    font-weight: bold;
    font-family: sans-serif;
}
.navbar-nav{
    font-size: 15px;
}
.navbar-nav button{
    font-size: 15px;
}
.navbar-nav .nav-item .nav-link{
    color: rgba(255,255,255,.9);
}
.graph {
    border-top: var(--primary) 1px solid;
}
.graph-body {
    border-top: var(--primary) 1px solid;
    border-bottom: var(--primary) 1px solid;
}
.algorithm-info {
    display: none;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
}
.algorithm-info-header {
    font-weight: bold;
    font-size: 20px;
}
.algorithm-info-cancel-btn {
    position: relative;
    float: right;
}
.node-row {
    justify-content: center;
}
.node {
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 4%;*/
    background-color: var(--secondary);
    border-top: var(--primary) solid 1px;
    border-left: var(--primary) solid 1px;
}
.node-example {
    height: 20px;
    width: 20px;
}
.node-initiate-activation {
    background-color: var(--initiate-activation);
}
.node-active {
    border-color: var(--animate-activation);
    background-color: var(--active);
    animation: activation 1s linear normal;
}
.node-initiate-path {
    background-color: var(--initate-path);
}
.node-path {
    border-color: var(--path);
    background-color: var(--path);
    animation: path .8s linear normal;
}
.node-initiate-wall {
    background-color: var(--initiate-wall);
}
.node-wall {
    border-color: var(--wall);
    background-color: var(--wall);
    animation: wall .2s linear normal;
}

@keyframes activation {
    0%{
        background-color: var(--animate-activation);
    }
    100% {
        background-color: var(--active);
    }
}
@keyframes path {
    0%{
        background-color: var(--animate-path);
    }
    100% {
        background-color: var(--path);
    }
}
@keyframes wall {
    0%{
        background-color: var(--animate-wall);
    }
    100% {
        background-color: var(--wall);
    }
}